body{
    margin: 0;
    padding: 0;
    font-family: "Source Sans 3", serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Fjalla One", serif;
    font-weight: normal;
    color: #171721;
}

p{
	color: #171721;
}

h3{
	font-size: 20px;
}

h2{
	color: #026FFF;
}

ul, ol{
    list-style-type: none;
}

a {
    text-decoration: none;
}

figure{
	margin: 0;
}

fieldset{
	border: none;
	padding: 0;
}


.header{
	height: 70px;
	max-width: -webkit-fill-available;
	background-color:#1D252C;
	display: flex;
	padding: 5px;
	box-shadow: .5px .5px 10px;
	position: relative;
	justify-content: center;
	flex-wrap: wrap;
}

.header__container{
	display: flex;
	max-width: 1024px;
	flex: 1;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.header__logo__container{
	margin: auto 20px;
	text-align: center;
}

.header__navbar{
	display: flex;
	height: -webkit-fill-available;
	align-items: center;
}

.navbar__menu{
	display:flex;
}

.navbar__menu a{
	color: #FFFFFF;
	margin-right: 10px;
	font-weight: bold;
	font-size: 18px;
	padding: 5px;
}

.navbar__menu a:hover{
	color: #EDEDED;
}

.contact__link{
	padding: 5px;
	border: 1px solid #FFFFFF;
	border-radius: 5px;
}

.contact__link:hover{
	border-color: #f2f2f5;
	background-color: #000000;
}

.header__logo__image{
	max-width: 250px;
	vertical-align: middle;
}

.burger-menu{
	display: none;
	width: 40px;
	height: 40px;
	background-color: rgba(0,0,0,.8);
	border-radius: 50%;
	line-height: 40px;
	text-align: center;
	position: fixed;
	color: white;
	top: 15px;
	left: 10px;
	z-index: 30;
}

.main{
	max-width: -webkit-fill-available;
	display: flex;	
	background-color: #1D252C;
	justify-content: center;
	flex-wrap: wrap;
}

.main-container{
	padding: 0px 20px;
	max-width: 1024px;
	display: flex;
	flex: 1;
	flex-wrap: wrap;
}

.main__description__container{
	max-width: 500px;
	display: flex;
	align-items: center;
	margin: 0px 20px;
}

.main__title{
	color: white;
	line-height: 1.5em;
	font-size: 40px;
	letter-spacing: -.2px;
	text-shadow: 5px 5px 5px black;
}

.main__title strong{
	color: #026FFF;
	font-weight: normal;
}

.main__image__container{
	max-width: 500px;
	height: 375px;
	margin: 0px;
}

.main__image{
    max-width: 500px;
}

.portfolio{
	max-width: -webkit-fill-available;
	padding: 20px;
	background-color: #FAFAFA; 
	display: flex;
	justify-content: center;
}

.portfolio-container{
	max-width: 1040px;
	flex-wrap: wrap;
	width: 100%;
}

.portfolio__title{
	margin-top: 35px;
	margin-bottom: 50px;
    font-weight: 550;
	text-transform: uppercase;
	text-shadow: .5px .5px 2px grey;
}

.portfolio__article{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 1em;
	border: 0px solid transparent;
	border-radius: 20px;
	padding: 20px;
	max-width: 1050px;
	background-color: #FFFFFF;
	box-shadow:  .1px .1px 10px #e5e7f4;
}

.portfolio__article__title{
	font-size: 2em;
	margin-bottom: 0;
}

.portfolio__article__details{
	width: 50%
}

.portfolio__article__subtitle{
	color: #777777;
	font-size: 15px;
	margin: .3em 0;
}

.portfolio__article__date{
	margin: .3em 0;
	font-size: 1.3em;
}

.portfolio__article__date small{
	color: #777777;
}

.portfolio__article__date strong{
	color: #171721;
}

.portfolio__article__link-paragraph{
	margin: 5px 0;
	font-size: 1.3em;
}

.portfolio__article__link-paragraph a{
	color: #777777;	
	text-decoration: underline;
}

.portfolio__article__description{
	margin-top: 30px;
	font-size: 1em;
}

.portfolio__article__image{
	width: 100%;
}

.portfolio__article__image-container{
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.events{
	display: flex;
	padding: 20px;
	background-color: #FAFAFA;
	max-width: -webkit-fill-available;
	justify-content: center;
	font-size: 10px;
}

.events-container{
	max-width: 1024px;
}

.events__title{
	margin-top: 1.5em;
	margin-bottom: 3.5em;
    font-weight: 550;
    font-size: 3em;
	text-transform: uppercase;
	text-shadow: .5px .5px 2px grey;

}

.events__articles-container{
	display: flex;
	flex-wrap: wrap;
}

.events__article{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 48%;
	height: 450px;
	background-color: #F4FBFF;
	margin: 1%;
	box-sizing: border-box;
	border-radius: 5px;
	box-shadow:  .1px .1px 10px #e5e7f4;

}

.events__article__image-container{
	width: 100%;
}

.events__article__image{
	width: inherit;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	height: 250px;
	object-fit: cover;

}

.events__article_details{
	border-radius: 5px;
	position: relative;
	height: 250px;
	z-index: 10;
	padding: 20px;
	max-width: 400px;
	background-color: #FFFFFF;
	margin: -15em 2em 1em 2em;
	box-sizing: border-box;
	box-shadow:  .1px .1px 5px grey;
}

.events__article__title{
	text-align: center;
	margin-top: .5em;
}

.events__article__description{
	font-size: 1.8em;
}

.events__article__link-youtube-container{
	display: flex;
	justify-content: center;
	margin-top: 2.5em;
}

.events__article__link-youtube{
	color: #026FFF;
	border: 1px solid #026FFF ;
	border-radius: 5px;
	padding: .5em 2.5em;
	font-size: 1.5em;
}

.events__article__link-youtube:hover{
	color: #004299;
	border-color: #004299;
	background-color: #f2f2f5;
}

.contact{
	padding: 20px;
	display: flex;
	background-color: #026FFF;
	max-width: -webkit-fill-available;
	justify-content: center;
}

.contact-container{
	flex: 1;
	max-width: 1024px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.contact__title{
	color: #FFFFFF;
	font-style: normal;
	text-transform: uppercase;
	font-size: 25px;
	margin-bottom: 20px; 
}

.contact__email-form-container{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contact__form__input-email{
	background-image: url(../images/envelope.svg);
	background-repeat: no-repeat;
	background-position-x: 15px; 
	background-position-y: center; 
	background-size: 35px;
	padding: 10px 50px 10px 60px;
	display: block;
	border: grey 1px solid;
	border-radius: 5px;
	font-size: 20px;
}

.contact__form__button{
	margin: 20px 1px;
	margin-bottom: 30px;
	display: flex;
	color: white;
	background-color: transparent;
	border: white 1px solid;
	border-radius: 5px;
	padding: 10px 40px;
	font-size: 20px;
}

.contact__form__button:hover{
	background-color: white;
	border-color: #026fff;
	color: #026fff;
}

.contact__form__button:active{
	background-color: #FAFAFA;
	border-color: #026fff;
	color: #026fff;
}


.contact__social-media-container{
	display: flex;
	align-items: center;
}

.contact__social-media{
	height: 80px;
	width: 80px;
	margin: 20px;
}

.contact__social-media-twitter{
	background-image: url(../images/twitter.svg);
	background-size: 80px 80px;
}

.contact__social-media-facebook{
	background-image: url(../images/facebook.svg);
	background-size: 80px 80px;
}

.contact__social-media-instagram{
	background-image: url(../images/instagram.svg);
	background-size: 80px 80px;
}

.contact__social-media-github{
	background-image: url(../images/github.svg);
	background-size: 80px 80px;
}

.footer{
	display: flex;
	padding: 0 20px;
	background-color: #1D252C;
	max-width: -webkit-fill-available;
	justify-content: center;
}

.footer-container{
	display: flex;
	flex: 1;
	flex-wrap: wrap;
	max-width: 1000px;
	justify-content: space-between;
}

.footer p{
	color: #FFFFFF;
}

.footer__description-platzi{
	display: flex;
	align-items: center;
}

.footer__logo-platzi{
	margin: 5px;
	max-width: 50px;
	vertical-align: middle;
}

.footer a{
	color: #FFFFFF;
	text-decoration: underline;
}